{% extends 'index.html' %}
{% block zawartosc %}
<body>
    <h2>Edytuj salę</h2>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" name="name" placeholder="Nazwa" value="{{ sala.name }}"></p>
            {% if error_name %}
                <p>{{ error_name }}</p>
            {% endif %}
            {% if error_samename %}
                <p>{{ error_samename }}</p>
            {% endif %}
        <p><input type="number" name="capacity" placeholder="Pojemność" value="{{ sala.capacity }}"></p>
            {% if error_value %}
                <p>{{ error_value }}</p>
            {% endif %}
        <p>
            <input type="checkbox" class="form-check-input" name="projector_availability" id="projector" 
                    {% if room.projector_availability %} 
                   checked 
                    {% endif %}
            >
            <label class="form-check-label" for="projector">Dostępność rzutnika</label>
        </p>
        <button type="submit">Edytuj salę</button>
    </form>
</body>
{% endblock %}